// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.custom-button {
  padding: 24x;
  background-color: #047bfe;
  border-radius: 8px;
}
